* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1rem;
}

body {
  background-color: #f1e9e9;
  font-family: "Inter", sans-serif;
}

.errorToast {
  border: 3px solid #eb5f5f;
  background-color: white;
  outline: none;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  padding: 0.75rem;
  gap: 20px;
  display: flex;
  align-items: center;
  color: #ec4242;
  transform: translate(-50%, -100%);
  transition:
    transform 0.6s ease,
    opacity 0.4s ease;
  position: fixed;
  top: 2px;
  left: 50%;
  opacity: 0;
}

.errorToast.show {
  transform: translate(-50%, 0);
  opacity: 1;
}

.errorToast h1 {
  font-size: 1.25rem;
}

.errorToast h1,
p {
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 1rem;
}
