* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1rem;
}

body {
  background-color: #f1e9e9;
  font-family: "Inter", sans-serif;
  padding: 2rem;
}

.toast {
  border: 3px solid #eb5f5f;
  background-color: white;
  outline: none;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  padding: 0.75rem;
  gap: 20px;
  display: flex;
  align-items: center;
  color: #ec4242;
  transform: translate(-50%, -100%);
  transition:
    transform 0.6s ease,
    opacity 0.4s ease;
  position: fixed;
  top: 2px;
  left: 50%;
  opacity: 0;
}

.toastIcon {
  font-size: 2rem;
}

.toast.show {
  transform: translate(-50%, 0);
  opacity: 1;
}

.toast.error {
  border: 3px solid #eb5f5f;
  color: #ec4242;
}

.toast.alert {
  border: 3px solid #eb955f;
  color: #ec8342;
}

.toast.info {
  border: 3px solid #5f97eb;
  color: #4294ec;
}

.toast h1 {
  font-size: 1.25rem;
}

.toast h1,
p {
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 1rem;
}

.card {
  display: flex;
  flex-direction: column;

  padding: 1.5rem;
  border-radius: 15px;

  background-color: #fafafa;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fancyButton {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #15173d;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #e491c9;
}

.fancyButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #e491c9;
  box-shadow: 0px 0px 0px 3px rgba(152, 37, 152, 20%);
  background-color: white;
}

.simpleButton {
  padding: 10px;
  border-radius: 8px;
  border: none;
  height: 100%;
  cursor: pointer;
  color: #ffffff;
  background-color: #0c0c0c;
  transition: all 0.3s ease;
}

.simpleButton:hover {
  opacity: 0.9;
}

.lightText {
  color: rgba(55, 55, 56, 0.729);
}
