.chatContainer {
  height: 22rem;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.userNameChat {
  color: #d51796;
}

.messages {
  max-height: 11rem;

  color: #333;

  overflow-y: auto;
  scroll-behavior: smooth;

  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.messages::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.message {
  margin-bottom: 10px;
  overflow-wrap: break-word;
  line-height: 1.4;
}

.chat-form {
  display: flex;
  align-items: center;
}

.chat-form input {
  width: 100%;
  height: 2.5em;
  padding-left: 0.8em;

  border: 2px solid #f3f3f3;
  border-right: none;
  border-radius: 10px 0 0 10px;

  background-color: #f3f3f3;
  outline: none;

  transition: all 0.3s ease;
}

.chat-form input:hover,
.chat-form input:focus {
  border: 2px solid #e491c9;
  border-right: none;
  background-color: #ffffff;
}

.chat-form button {
  height: 100%;
  padding: 0 12px;

  border: none;
  border-radius: 0 10px 10px 0;

  cursor: pointer;
  outline: none;

  background-color: black;
  color: #ffffff;

  font-size: 12px;
  font-weight: 700;

  transition: all 0.3s ease;
}

.chat-form button:hover {
  opacity: 0.9;
}

.chat-form button:active {
  background-color: #ffffff;
  color: #000000;
}

.chat-form button:active .icon {
  transform: scale(0.94);
}
