.roomInfoContainer {
  display: flex;
  gap: 15px;
}
.infoBlock h3 {
  font-weight: 100;
  color: rgb(93, 94, 95);
  font-size: 1rem;
  margin-bottom: 3px;
}

.infoBlock p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: 300;
}

.users {
  list-style: none;
  font-size: 0.85rem;
  overflow-y: auto;
  scroll-behavior: smooth;

  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  height: 6rem;
}

.users li {
  margin-left: 15px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.userStatus {
  padding: 5px;
  border-radius: 8px;
  font-size: 0.7rem;
}
.userStatus.ready {
  background-color: rgb(77, 229, 146);
  color: white;
}
.userStatus.notReady {
  background-color: rgb(182, 184, 187);
}

.youTag {
  color: rgb(127, 129, 129);
}

.roomControlButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#leaveButton {
  background-color: rgb(214, 24, 24);
}
