.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3rem;
  margin-top: 10%;
}

.usernameInputBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.usernameInputBox input {
  max-width: 190px;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #15173d;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #15173d;
  outline: none;
  transition: ease 0.25s;
}

.usernameInputBox input:focus {
  box-shadow: 5.5px 7px 0 #15173d;
}

.homePage form input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.homePage form input:hover,
.homePage form input:focus {
  border: 2px solid #e491c9;
  box-shadow: 0px 0px 0px 3px rgba(152, 37, 152, 20%);
  background-color: white;
}

.rooms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
}

.rooms p {
  line-height: 100%;
  display: block;
  width: 100%;
  text-align: center;
}

.joinRoomBox {
  text-align: center;
  height: 100%;
}

.joinRoomBox form,
.createRoomBox form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.createRoomBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 500px) {
  .homePage {
    margin-top: 30%;
  }
  .rooms {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media (max-width: 800px) {
  .homePage {
    margin-top: 40%;
  }
}
