.roomContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0 auto;
  width: 90%;
}

.intro {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
}

.intro p {
  color: rgb(55, 55, 56);
}

.intro span {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.intro h1 {
  font-weight: 100;
}

.main {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.col1 {
  flex: 0 0 60%;
}

.col2 {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.roomSubheading {
  font-weight: 100;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
