.roomContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0 auto;
  width: 90%;
}

.main {
  display: flex;
  gap: 5rem;
  width: 100%;
}

.col1 {
  flex: 0 0 60%;
}

.col2 {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.roomSubheading {
  font-weight: 100;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
