.roomContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.main {
  display: flex;
  gap: 5rem;
}

.col1 {
  flex: 0 0 60%;
}

.col2 {
  flex: 0 0 40%;
}

.roomSubheading {
  font-weight: 100;
  font-size: 1.25rem;
}
