.roomContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0 auto;
  width: 90%;
}

.intro {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
}

.intro p {
  color: rgb(55, 55, 56);
}

.intro span {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.intro h1 {
  font-weight: 100;
}

.messages {
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  overflow-y: auto;

  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.messages p {
  margin: 0 auto;
}

.message {
  border: 1px solid rgb(226, 224, 224);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 12px;
  border-radius: 10px;
  animation: slideDown 0.3s ease-out;
}

.message.low {
  background-color: rgba(224, 244, 255, 0.679);
  color: rgb(53, 118, 183);
  border: 1px solid rgb(135, 180, 243);
}
.message.medium {
  background-color: rgba(224, 255, 243, 0.679);
  color: rgb(36, 157, 127);
  border: 1px solid rgb(85, 219, 152);
}
.message.high {
  background-color: rgba(255, 224, 224, 0.679);
  color: rgb(183, 53, 70);
  border: 1px solid rgb(243, 135, 135);
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.inputCard {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputCard h3 {
  font-weight: 100;
}

.inputCard p {
  text-align: center;
}

#gameForm {
  display: flex;
  gap: 10px;
}

#gameForm input {
  width: 100%;
}

#submitWordButton {
  width: 8rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.col1 {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.col2 {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.roomSubheading {
  font-weight: 100;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
